* {
  margin: 0px;
  padding: 0px;
}
.main {
  display: flex;
  padding: 5px;
  text-align: center;
}
.first {
  margin-right: 50px;
  width: 50%;
}
.second {
  width: 45%;
}
.cont {
  background-color: red;
  color: white;
}
.first > input,
.second > input {
  width: 95%;
}
input {
  padding: 3px;
  margin: 2px;
}
.temp {
  text-align: center;
}
.temp > input {
  width: 95%;
}

.block {
  display: block;
}
.main2 {
  margin-top: 15px;
}
.bold {
  font-weight: bold;
}
form {
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}

.form1 > input {
  display: block;
  margin: 10px;
  padding: 2px;
}
