* {
  margin: 0px;
  padding: 0px;
}

input,
label,
p {
  padding: 5px;
  margin: 8px;
  color: rgb(15, 2, 2);
}

.form1 > input {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 5px;
}
.btn {
  border-radius: 10%;
}

h4 {
  color: rgb(15, 2, 2);
  margin: 10px;
  padding: 5px;
}
form {
  width: 800px;
  margin: auto;
  background-color: rgb(92, 160, 160);
  text-align: center;
}
